
{% extends 'layouts/base.html' %}

{% block title %} Profile {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload File</title>
</head>
<body>
    <h1>Upload Excel File</h1>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class="flashes">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="file" accept=".xlsx" required>
        <input type="submit" value="Upload">
    </form>
     <!-- Bootstrap Modal -->
     
</body>
</html>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}

{% endblock javascripts %}
